:root {
  --signatureColor: #f78f1b;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.8em 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  line-height: 1.1;
}

h1::after,
h2::after {
  content: "";
  display: block;
  position: relative;
  top: 0.33em;
  border-bottom: 1px solid hsla(0, 0%, 50%, 0.33);
}

/* *,
::after,
::before {
  box-sizing: inherit;
} */

body,
html {
  margin: 0;
  padding: 0;
}
body {
  font-size: 20px;
  font-family: Lora, "Times New Roman", serif;
  -webkit-font-smoothing: antialiased; /*폰트 가늘게*/
  color: #333;
}

p {
  margin: 1.2em 0;
}

::selection {
  color: #fff;
  background: #0085a1;
  text-shadow: none;
}

.main {
  background: no-repeat center center;
  background-color: var(--signatureColor);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 50px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.container__inside {
  margin-right: auto !important;
  margin-left: auto !important;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}



/* responsive */

@media only screen and (min-width: 376px) {
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .container__inside {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .post__title {
    padding: 200px 0;
  }

  .post__title .post__heading {
    font-size: 55px;
  }

  .post__title .post__subheading {
    font-size: 30px;
  }
}

@media only screen and (max-width: 991px) {
  
}

@media only screen and (min-width: 992px) {
 

  .container {
    max-width: 960px;
  }

  .container__inside {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/*  post page css */

.container__inside .post__title {
  background-color: rgba(15, 15, 11, 0.95);
  background-clip: content-box;
  padding: 200px 0;
}
.post__title {
  padding: 200px 0 150px;
}

.post__title .post__heading {
  font-size: 35px;
}

.post__title .post__subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.1;
  display: block;
}

.post__title .post__info {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: Lora, "Times New Roman", serif;
  line-height: 1.1;
  display: block;
}

.post__info a {
    padding: 0 5px;
    text-decoration: none;
    color: inherit;
}


