:root {
  --signatureColor: #f78f1b;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
html,
ul,.post__title,.post__subtitle {
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  line-height: 1.1;
}

body {
  font-size: 20px;
  font-family: Lora, "Times New Roman", serif;
  color: #333;
}

::selection {
  color: #fff;
  background: #0085a1;
  text-shadow: none;
}


.main {
  background-color: var(--signatureColor);
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin-bottom: 50px;
}


.main .blog__title {
  font-size: 80px;
  font-family: "Kaushan Script", cursive;
  margin: 90px 0 0 0;
}

.main .blog__subtitle {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.post__section {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 60%;
  max-width: 1140px;
}

.post__section .post__list {
  display: flex;
  flex-direction: column;
}

.post__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.post__item .post__detail {
  text-decoration: none;
  color: #333;
}

.post__detail .post__title {
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 10px;
  display: inline-block;
}

.post__detail .post__subtitle {
  font-size: 1.75rem;
  font-weight: 300;
  margin: 0 0 10px;
  display: inline-block;
}

.post__detail:hover {
  color: #ff9000;
}

.post__item .post__info {
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 2rem;
  color: #777;
}

.post__info a {
  text-decoration: none;
  color: #333;
}


/* responsive */
@media only screen and (min-width: 992px) {
  
}
@media only screen and (max-width: 991px) {
 	.post__section {
  		width: 720px;
  	}
}

@media only screen and (max-width:767px) {
	.post__section {
		width: 540px;
	}
}

@media only screen and (max-width: 575px) {
	.post__section {
		width: 100%;
	}
}

@media only screen and (max-width:375px) {
	.main .blog__title {
		font-size: 50px;
	}
	.post__section {
		width: 100%;
	}
}



